@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}


/* 공통영역 */
.inner {
  position: relative;
  display: block;
  width: 1200px;
  margin: 0 auto;
}

.clearfix {
  content: '';
  position: relative;
  display: block;
  // width: 100%;
  clear: both;
}


/* 개별영역*/



/*== 메인 gnb ==*/
.maingnb {
  position: fixed;
  top: 0;
  left: -360px;
  display: block;
  width: 360px;
  height: 100%;
  background-color: #f5f5f5;
  z-index: 9999999;
  transition: all 0.5s;


  .close-bt {
    position: absolute;
    top: 13px;
    right: 16px;
    display: block;
    width: 30px;
    height: 30px;
    background: url('../images/btn_close.png') no-repeat center;
    background-size: 30px auto;
  }

  p {
    font-size: 12px;
    line-height: 0;
    padding: 55px 16px 20px 29px;
  }

  .gnb-category {
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 0px;

    li {
      position: relative;
      padding: 11px 110px 3px 29px;
    }
  }

  .gnb-info {
    padding: 50px 0px 0px 29px;

    li {
      a {
        display: block;
        font-size: 14px;
        line-height: 30px;
      }
    }
  }
}

.maingnb-open {
  left: 0;
}

.menu-dim {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;

  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
}

.menu-dim-open {
  display: block;
}

/*== //메인 gnb ==*/






/*== header ==*/
.header {
  position: relative;
  display: block;
  z-index: 9999;

  .inner {
    position: relative;
    display: block;
    height: 138px;
    padding: 19px 16px;
  }

  .l-top-menu {
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    background: url('../images/l-top-icon.png') no-repeat center;
    background-size: cover;
    float: left;
  }

  .logo {
    position: relative;
    display: block;
    width: 86px;
    height: 30px;
    background: url('../images/logo.jpg') no-repeat center;
    background-size: cover;
    float: left;
    margin-left: 20px;
  }

  .r-top-shop {
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    background: url('../images/r-top-Cart.jpg') no-repeat center;
    background-size: cover;
    float: right;
  }
}

/*==///// header ==*/

/*== visual ==*/
.visual {
  position: relative;
  display: block;

  // swiper 구역
  .swiper-container {
    position: relative;
    display: block;
    width: 100%;
    height: 1708px;
  }

  .swiper-slide a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }

  .sw-v-1 {
    background: url('../images/visual-slide-1.jpeg') no-repeat center;
    background-size: cover;
  }

  .sw-v-2 {
    background: url('../images/visual-slide-2.jpeg') no-repeat center;
    background-size: cover;
  }

  .sw-v-3 {
    background: url('../images/visual-slide-3.jpeg') no-repeat center;
    background-size: cover;
  }

  .sw-visual-control {
    position: absolute;
    bottom: 20px;
    display: block;
    width: 100%;
    z-index: 9;
  }

  .sw-visual-pg {
    position: relative;
    display: block;
    margin: 0 auto;
  }

  .swiper-pagination-bullet {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, .6);
    border-radius: 5px;
    margin: 0 5px;

    &:hover {
      opacity: 1;
      background: rgb(0, 0, 0);
      cursor: pointer;
    }
  }

  .swiper-pagination-bullet-active {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
  }
}

/*== ////visual ==*/


/*== main contents ==*/
.main-contents {
  position: relative;
  display: block;

  .inner {
    position: relative;
    display: block;

    h3 {
      position: relative;
      display: block;
      width: 100%;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      padding: 100px 0;
    }
  }
}

.bestbox {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.b-box-content {
  position: relative;
  display: block;
  width: 33%;
  height: 640px;

  a {
    position: relative;
    display: block;
    height: 90%;

    >span {
      position: absolute;
      bottom: -30px;
      left: 0;
      display: block;
    }
  }

  .bbox-1 {
    background: url('../images/main\ content\ 1.jpg') no-repeat center;
    background-size: cover;
  }

  .bbox-2 {
    background: url('../images/main\ content\ 2.jpg') no-repeat center;
    background-size: cover;
  }

  .bbox-3 {
    background: url('../images/main\ content\ 3.jpg') no-repeat center;
    background-size: cover;
  }

  >span {
    position: relative;
    display: block;
    margin-top: 45px;
  }
}

.newbox {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.n-box-content {
  position: relative;
  display: block;
  width: 33%;
  height: 640px;

  a {
    position: relative;
    display: block;
    height: 90%;

    >span {
      position: absolute;
      bottom: -30px;
      left: 0;
      display: block;
    }
  }

  .nbox-1 {
    background: url('../images/newbox-content.1.jpg') no-repeat center;
    background-size: cover;
  }

  .nbox-2 {
    background: url('../images/newbox-content.2.jpg') no-repeat center;
    background-size: cover;
  }

  .nbox-3 {
    background: url('../images/newbox-content.3.jpg') no-repeat center;
    background-size: cover;
  }

  .nbox-4 {
    background: url('../images/main\ content\ 2.jpg') no-repeat center;
    background-size: cover;
  }

  .nbox-5 {
    background: url('../images/main\ content\ 1.jpg') no-repeat center;
    background-size: cover;
  }

  .nbox-6 {
    background: url('../images/main\ content\ 3.jpg') no-repeat center;
    background-size: cover;
  }

  >span {
    position: relative;
    display: block;
    margin-top: 45px;
  }

  .soldout {
    position: absolute;
    bottom: -40px;
    left: 0;
    display: block;
    width: 30px;
    height: 16px;
    background: url('../images/ico_product_soldout.gif') no-repeat center;
    background-size: cover;
  }
}

/*== ////main contents ==*/



/*== footer ==*/
.footer {
  position: relative;
  display: block;

  >.inner {
    position: relative;
    display: block;
    height: 195px;
    text-align: center;
    font-size: 11px;
    color: #999999;
    letter-spacing: 0.6px;
  }

  ul {
    position: relative;
    display: block;
    width: 100%;
    height: 11px;
    margin-bottom: 30px;

    >li {
      position: relative;
      display: inline-block;
      margin: 0 8px;

    }
  }

  .company-information {
    p {
      position: relative;
      display: block;
      line-height: 15px;
    }
  }

  a {
    color: #999999;

    &:hover {
      border-bottom: 1px solid #999999;
    }
  }

  .copyright {
    position: relative;
    display: block;
    margin-top: 25px;

    span {
      color: #000;
    }
  }
}

/*== ////footer ==*/